<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>Hello, user! You are now logged in.</p>
    <a href="logout">Logout</a>
    <button id="authButton">Authenticate</button>
    <button id="resetButton">Reset</button>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
</body>
</html>